<link rel="stylesheet" href="/assets/index.css">

<ul>
	{{#each reports}}
	<li>
		<a href="/r/{{id}}"><span>#</span>{{id}}</a>
		<span class="application">{{body._productName}}</span>
		<span class="version">{{body._version}}</span>
		<span class="{{body.process_type}}">{{body.process_type}}</span>
		<span class="{{body.platform}}">{{body.platform}}</span>
	</li>
	{{/each}}
</ul>
