<link rel="stylesheet" href="/assets/index.css" />

<ul>
	{{#each reports}}
	<li>
		<div>
			<a href="/r/{{id}}"><span>#</span>{{id}}</a>

			{{#if body._productName}}
			<span class="application">
				<a href="/search?app={{body._productName}}">{{body._productName}}</a>
			</span>
			{{/if}} {{#if body._version}}
			<span class="version">
				<a href="/search?version={{body._version}}">{{body._version}}</a>
			</span>
			{{/if}} {{#if body.process_type}}
			<span class="{{body.process_type}}">
				<a href="/search?process_type={{body.process_type}}"
					>{{body.process_type}}</a
				>
			</span>
			{{/if}} {{#if body.platform}}
			<span class="{{body.platform}}">
				<a href="/search?platform={{body.platform}}">{{body.platform}}</a>
			</span>
			{{/if}}
		</div>

		<div>
			{{#if closed_at}} {{closed_at}} {{else}} {{created_at}} {{/if}}
		</div>
	</li>
	{{/each}}
</ul>
