<link rel="stylesheet" href="/assets/show.css">

<h1>
	<span>#</span>{{report.id}}
</h1>

<div id="created-at">
	{{report.created_at}}
</div>

<div id="closed-at">
	{{#if report.closed_at}}
		{{report.closed_at}}
	{{else}}
		—
	{{/if}}
</div>

<div id="open-duration">
	{{report.open_duration}}
</div>

<pre>{{report.body}}</pre>

<button id="status-button" type="button">
	{{#if report.closed_at}}
		open
	{{else}}
		close
	{{/if}}
</button>

<button id="delete-button" type="button">
	delete
</button>

<a class="button" href="/r/{{report.id}}/stack">
	stack trace
</a>

<a class="button" href="/r/{{report.id}}/dump">
	minidump
</a>

<script type="module">
	const delete_button = document.querySelector("#delete-button");
	const status_button = document.querySelector("#status-button");

	status_button.addEventListener("click", async event => {
		try {
			const method = "PATCH";
			const div = document.querySelector("#closed-at");
			const response = await fetch("/r/{{report.id}}", { method });
			const { closed_at } = await response.json();
			let button_content, text_content;

			if (closed_at) {
				button_content = "open";
				text_content = new Date(closed_at);
			} else {
				button_content = "close";
				text_content = "—";
			}

			div.textContent = text_content;
			status_button.textContent = button_content;
		} catch (error) {
			throw error;
		}
	});

	delete_button.addEventListener("click", async event => {
		const method = "DELETE";

		await fetch("/r/{{report.id}}", { method });

		document.location.href = "/";
	});
</script>