<link rel="stylesheet" href="/assets/show.css" />

<h1><span>#</span>{{report.id}}</h1>

<div id="timestamps">
	<div>
		<img
			alt="created at"
			width="20"
			height="20"
			src="/assets/baseline-access_time-24px.svg"
		/>
		<span>
			{{report.created_at}}
		</span>
	</div>

	<div id="closed-at">
		<img
			alt="closed at"
			width="20"
			height="20"
			src="/assets/baseline-watch_later-24px.svg"
		/>
		<span>
			{{#if report.closed_at}} {{report.closed_at}} {{else}} — {{/if}}
		</span>
	</div>

	<div id="opened-duration">
		<img
			alt="open duration"
			width="20"
			height="20"
			src="/assets/baseline-timer-24px.svg"
		/>
		<span>
			{{report.opened_duration}}
		</span>
	</div>
</div>

<pre>{{report.body}}</pre>

<button id="status-button" type="button">
	{{#if report.closed_at}} open {{else}} close {{/if}}
</button>

<button id="delete-button" type="button">
	delete
</button>

<a class="button" href="/r/{{report.id}}/stack">
	stack trace
</a>

<a class="button" href="/r/{{report.id}}/dump">
	minidump
</a>

<script type="module">
	const delete_button = document.querySelector("#delete-button");
	const status_button = document.querySelector("#status-button");

	status_button.addEventListener("click", async event => {
		try {
			const response = await fetch("/r/{{report.id}}", { method: "PATCH" });
			const {
				closed_active,
				closed_count: closed,
				opened_active,
				opened_count: opened,
				report,
			} = await response.json();
			const closed_at = document.querySelector("#closed-at span");
			const closed_count = document.querySelector("#closed-count span");
			const opened_duration = document.querySelector("#opened-duration span");
			const opened_count = document.querySelector("#opened-count span");

			closed_at.textContent = report.closed_at;
			closed_count.textContent = closed;
			opened_count.textContent = opened;
			opened_duration.textContent = report.opened_duration;

			if (report.closed_at !== "—") {
				status_button.textContent = "open";
				closed_count.parentNode.classList.add("active");
				opened_count.parentNode.classList.remove("active");
			} else {
				status_button.textContent = "close";
				opened_count.parentNode.classList.add("active");
				closed_count.parentNode.classList.remove("active");
			}
		} catch (error) {
			throw error;
		}
	});

	delete_button.addEventListener("click", async event => {
		await fetch("/r/{{report.id}}", { method: "DELETE" });
		document.location.href = "/";
	});
</script>
